*.vs
*.opendb
*.suo
*.sdf
*.db
Games/Arkanoid/Debug
Engine/Debug
Debug/OGLStudy.exe
Debug/OGLStudy.ilk
Debug/OGLStudy.pdb
Debug/Engine.exe
Debug/Engine.ilk
Debug/Engine.pdb
Demo/Particles/Debug
Debug/Arkanoid.exe
Debug/Arkanoid.ilk
Debug/Arkanoid.pdb
Debug/Engine.lib
Debug/Particles.exe
Debug/Particles.ilk
Debug/Particles.pdb
Tests/ConsoleTestFixture/Debug/
